<a href="https://colab.research.google.com/github/vitor-freitas1/challenge-telecom-x-churn/blob/main/challenge_telecom_x_churn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#ðŸ“Œ 1. ExtracÃ£o

In [314]:
import pandas as pd
import json

file_path = '/content/TelecomX_Data.json'
df = None

try:
  with open(file_path, 'r') as f:
    data_list = json.load(f)
    df = pd.json_normalize(data_list)
    print("Dataframe carregado e normalizado com sucesso!")
    print(df.head())

except FileNotFoundError:
  print(f"Erro: Arquivo nÃ£o encontrado em '{file_path}'.\nVerifique o caminho ou se o arquivo foi carregado.")

except json.JSONDecodeError:
  print(f"Erro ao decodificar o JSON no arquivo: {e_json}")

except Exception as e:
  print(f"Ocorreu um erro ao tentar ler o arquivo JSON: {e}")

Dataframe carregado e normalizado com sucesso!
   customerID Churn customer.gender  customer.SeniorCitizen customer.Partner  \
0  0002-ORFBO    No          Female                       0              Yes
1  0003-MKNFE    No            Male                       0               No
2  0004-TLHLJ   Yes            Male                       0               No
3  0011-IGKFF   Yes            Male                       1              Yes
4  0013-EXCHZ   Yes          Female                       1              Yes

  customer.Dependents  customer.tenure phone.PhoneService phone.MultipleLines  \
0                 Yes                9                Yes                  No
1                  No                9                Yes                 Yes
2                  No                4                Yes                  No
3                  No               13                Yes                  No
4                  No                3                Yes                  No

  internet.InternetService  ... internet.OnlineBackup  \
0                      DSL  ...                   Yes
1                      DSL  ...                    No
2              Fiber optic  ...                    No
3              Fiber optic  ...                   Yes
4              Fiber optic  ...                    No

  internet.DeviceProtection internet.TechSupport internet.StreamingTV  \
0                        No                  Yes                  Yes
1                        No                   No                   No
2                       Yes                   No                   No
3                       Yes                   No                  Yes
4                        No                  Yes                  Yes

  internet.StreamingMovies account.Contract account.PaperlessBilling  \
0                       No         One year                      Yes
1                      Yes   Month-to-month                       No
2                       No   Month-to-month                      Yes
3                      Yes   Month-to-month                      Yes
4                       No   Month-to-month                      Yes

  account.PaymentMethod account.Charges.Monthly  account.Charges.Total
0          Mailed check                    65.6                  593.3
1          Mailed check                    59.9                  542.4
2      Electronic check                    73.9                 280.85
3      Electronic check                    98.0                1237.85
4          Mailed check                    83.9                  267.4

[5 rows x 21 columns]

#ðŸ”§ 2. TransformaÃ§Ã£o

## 2.1 Conhecendo o Dataset

### 2.1.1 Visualizar amostras de dados

In [315]:
df.head(10)

,customerID,Churn,customer.gender,customer.SeniorCitizen,customer.Partner,customer.Dependents,customer.tenure,phone.PhoneService,phone.MultipleLines,internet.InternetService,...,internet.OnlineBackup,internet.DeviceProtection,internet.TechSupport,internet.StreamingTV,internet.StreamingMovies,account.Contract,account.PaperlessBilling,account.PaymentMethod,account.Charges.Monthly,account.Charges.Total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,...,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.60,593.3
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,...,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.90,542.4
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,...,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.90,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,...,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.00,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,...,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.90,267.4
5,0013-MHZWF,No,Female,0,No,Yes,9,Yes,No,DSL,...,No,No,Yes,Yes,Yes,Month-to-month,Yes,Credit card (automatic),69.40,571.45
6,0013-SMEOE,No,Female,1,Yes,No,71,Yes,No,Fiber optic,...,Yes,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),109.70,7904.25
7,0014-BMAQU,No,Male,0,Yes,No,63,Yes,Yes,Fiber optic,...,No,No,Yes,No,No,Two year,Yes,Credit card (automatic),84.65,5377.8
8,0015-UOCOJ,No,Female,1,No,No,7,Yes,No,DSL,...,No,No,No,No,No,Month-to-month,Yes,Electronic check,48.20,340.35
9,0016-QLJIS,No,Female,0,Yes,Yes,65,Yes,Yes,DSL,...,Yes,Yes,Yes,Yes,Yes,Two year,Yes,Mailed check,90.45,5957.9

In [316]:
df.tail(10)

,customerID,Churn,customer.gender,customer.SeniorCitizen,customer.Partner,customer.Dependents,customer.tenure,phone.PhoneService,phone.MultipleLines,internet.InternetService,...,internet.OnlineBackup,internet.DeviceProtection,internet.TechSupport,internet.StreamingTV,internet.StreamingMovies,account.Contract,account.PaperlessBilling,account.PaymentMethod,account.Charges.Monthly,account.Charges.Total
7257,9975-SKRNR,No,Male,0,No,No,1,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Month-to-month,No,Mailed check,18.90,18.9
7258,9978-HYCIN,No,Male,1,Yes,Yes,47,Yes,No,Fiber optic,...,Yes,No,No,Yes,No,One year,Yes,Bank transfer (automatic),84.95,4018.05
7259,9979-RGMZT,No,Female,0,No,No,7,Yes,No,Fiber optic,...,Yes,No,No,Yes,Yes,One year,Yes,Mailed check,94.05,633.45
7260,9985-MWVIX,Yes,Female,0,No,No,1,Yes,No,Fiber optic,...,No,No,No,No,No,Month-to-month,Yes,Mailed check,70.15,70.15
7261,9986-BONCE,Yes,Female,0,No,No,4,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Month-to-month,No,Bank transfer (automatic),20.95,85.5
7262,9987-LUTYD,No,Female,0,No,No,13,Yes,No,DSL,...,No,No,Yes,No,No,One year,No,Mailed check,55.15,742.9
7263,9992-RRAMN,Yes,Male,0,Yes,No,22,Yes,Yes,Fiber optic,...,No,No,No,No,Yes,Month-to-month,Yes,Electronic check,85.10,1873.7
7264,9992-UJOEL,No,Male,0,No,No,2,Yes,No,DSL,...,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,50.30,92.75
7265,9993-LHIEB,No,Male,0,Yes,Yes,67,Yes,No,DSL,...,No,Yes,Yes,No,Yes,Two year,No,Mailed check,67.85,4627.65
7266,9995-HOTOH,No,Male,0,Yes,Yes,63,No,No phone service,DSL,...,Yes,Yes,No,Yes,Yes,Two year,No,Electronic check,59.00,3707.6

In [317]:
df.sample(10)

,customerID,Churn,customer.gender,customer.SeniorCitizen,customer.Partner,customer.Dependents,customer.tenure,phone.PhoneService,phone.MultipleLines,internet.InternetService,...,internet.OnlineBackup,internet.DeviceProtection,internet.TechSupport,internet.StreamingTV,internet.StreamingMovies,account.Contract,account.PaperlessBilling,account.PaymentMethod,account.Charges.Monthly,account.Charges.Total
102,0174-QRVVY,No,Male,0,Yes,Yes,71,Yes,Yes,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Credit card (automatic),25.35,1847.55
2061,2900-PHPLN,No,Female,1,Yes,No,70,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,Yes,Credit card (automatic),19.55,1462.05
4957,6770-XUAGN,Yes,Female,0,Yes,Yes,1,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Month-to-month,Yes,Electronic check,21.00,21
6007,8205-VSLRB,No,Male,0,Yes,No,70,Yes,Yes,DSL,...,No,Yes,Yes,No,Yes,Two year,No,Credit card (automatic),77.30,5498.2
2243,3133-PZNSR,No,Male,0,Yes,Yes,72,Yes,Yes,Fiber optic,...,Yes,No,Yes,No,Yes,Two year,Yes,Credit card (automatic),97.75,6991.6
1259,1810-MVMAI,No,Male,0,Yes,Yes,30,Yes,Yes,DSL,...,Yes,Yes,Yes,No,No,Month-to-month,No,Electronic check,67.60,2000.2
4771,6537-QLGEX,No,Female,0,No,No,16,No,No phone service,DSL,...,No,No,No,Yes,No,Month-to-month,Yes,Electronic check,38.90,664.4
5404,7394-LWLYN,No,Female,0,No,No,2,Yes,No,Fiber optic,...,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.15,123.8
7168,9851-QXEEQ,Yes,Male,0,No,No,41,Yes,Yes,Fiber optic,...,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,104.70,4346.4
3903,5336-UFNZP,No,Female,1,Yes,Yes,65,Yes,Yes,Fiber optic,...,Yes,Yes,No,Yes,Yes,One year,Yes,Electronic check,107.45,7047.5

### 2.1.2 Estrutura geral e tipo de dados

In [318]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customerID                 7267 non-null   object
 1   Churn                      7267 non-null   object
 2   customer.gender            7267 non-null   object
 3   customer.SeniorCitizen     7267 non-null   int64
 4   customer.Partner           7267 non-null   object
 5   customer.Dependents        7267 non-null   object
 6   customer.tenure            7267 non-null   int64
 7   phone.PhoneService         7267 non-null   object
 8   phone.MultipleLines        7267 non-null   object
 9   internet.InternetService   7267 non-null   object
 10  internet.OnlineSecurity    7267 non-null   object
 11  internet.OnlineBackup      7267 non-null   object
 12  internet.DeviceProtection  7267 non-null   object
 13  internet.TechSupport       7267 non-null   object
 14  internet.StreamingTV       7267 non-null   object
 15  internet.StreamingMovies   7267 non-null   object
 16  account.Contract           7267 non-null   object
 17  account.PaperlessBilling   7267 non-null   object
 18  account.PaymentMethod      7267 non-null   object
 19  account.Charges.Monthly    7267 non-null   float64
 20  account.Charges.Total      7267 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.2+ MB

In [319]:
df.dtypes

customerID                    object
Churn                         object
customer.gender               object
customer.SeniorCitizen         int64
customer.Partner              object
customer.Dependents           object
customer.tenure                int64
phone.PhoneService            object
phone.MultipleLines           object
internet.InternetService      object
internet.OnlineSecurity       object
internet.OnlineBackup         object
internet.DeviceProtection     object
internet.TechSupport          object
internet.StreamingTV          object
internet.StreamingMovies      object
account.Contract              object
account.PaperlessBilling      object
account.PaymentMethod         object
account.Charges.Monthly      float64
account.Charges.Total         object
dtype: object

### 2.1.3 DimensÃµes do Dataset

In [320]:
df.shape

(7267, 21)

### 2.1.4 Nomes das colunas

In [321]:
df.columns

Index(['customerID', 'Churn', 'customer.gender', 'customer.SeniorCitizen',
       'customer.Partner', 'customer.Dependents', 'customer.tenure',
       'phone.PhoneService', 'phone.MultipleLines', 'internet.InternetService',
       'internet.OnlineSecurity', 'internet.OnlineBackup',
       'internet.DeviceProtection', 'internet.TechSupport',
       'internet.StreamingTV', 'internet.StreamingMovies', 'account.Contract',
       'account.PaperlessBilling', 'account.PaymentMethod',
       'account.Charges.Monthly', 'account.Charges.Total'],
      dtype='object')

## 2.2 Verificando inconsistÃªncias nos dados

### 2.2.1 Valores ausentes

In [322]:
df.isnull().sum()

customerID                   0
Churn                        0
customer.gender              0
customer.SeniorCitizen       0
customer.Partner             0
customer.Dependents          0
customer.tenure              0
phone.PhoneService           0
phone.MultipleLines          0
internet.InternetService     0
internet.OnlineSecurity      0
internet.OnlineBackup        0
internet.DeviceProtection    0
internet.TechSupport         0
internet.StreamingTV         0
internet.StreamingMovies     0
account.Contract             0
account.PaperlessBilling     0
account.PaymentMethod        0
account.Charges.Monthly      0
account.Charges.Total        0
dtype: int64

### 2.2.2 Valores duplicados

In [323]:
df.duplicated().sum()

np.int64(0)

### 2.2.3 Erros de formataÃ§Ã£o

In [324]:
print(" Iniciando inspeÃ§Ã£o de 'account.Charges.Total'...")

# Tenta converter para numÃ©rico com coercion
coluna_original = df['account.Charges.Total']
coluna_convertida = pd.to_numeric(coluna_original, errors='coerce')

# Identifica valores que nÃ£o puderam ser convertidos
valores_invalidos = coluna_original[coluna_convertida.isnull()]

if not valores_invalidos.empty:
    print(f" {len(valores_invalidos)} valores problemÃ¡ticos encontrados:")
    print(valores_invalidos.unique())
else:
    print(" Nenhum valor problemÃ¡tico encontrado.")

# Aplica conversÃ£o definitiva
df['account.Charges.Total'] = coluna_convertida

# Resultado
nan_count = df['account.Charges.Total'].isnull().sum()
print(f" Total de NaNs apÃ³s conversÃ£o: {nan_count}")
print(f" Tipo final da coluna: {df['account.Charges.Total'].dtype}")

 Iniciando inspeÃ§Ã£o de 'account.Charges.Total'...
 11 valores problemÃ¡ticos encontrados:
[' ']
 Total de NaNs apÃ³s conversÃ£o: 11
 Tipo final da coluna: float64

### 2.2.4 InconsistÃªncias nos dados



âœ¨**Verificando quais colunas possuem valores inconsistentes**âœ¨

In [325]:
colunas_categoricas = [
    'Churn', 'customer.gender', 'customer.Partner', 'customer.Dependents',
    'phone.PhoneService', 'phone.MultipleLines', 'internet.InternetService',
    'internet.OnlineSecurity', 'internet.OnlineBackup', 'internet.DeviceProtection',
    'internet.TechSupport', 'internet.StreamingTV', 'internet.StreamingMovies',
    'account.Contract', 'account.PaperlessBilling', 'account.PaymentMethod'
]

print("\n--- Verificando Valores Ãšnicos em Colunas CategÃ³ricas ---")
for coluna in colunas_categoricas:
    if coluna in df.columns:
        print(f"\nValores Ãºnicos para a coluna '{coluna}':")
        print(df[coluna].unique())
    else:
        print(f"\nColuna '{coluna}' nÃ£o encontrada no DataFrame.")

--- Verificando Valores Ãšnicos em Colunas CategÃ³ricas ---

Valores Ãºnicos para a coluna 'Churn':
['No' 'Yes' '']

Valores Ãºnicos para a coluna 'customer.gender':
['Female' 'Male']

Valores Ãºnicos para a coluna 'customer.Partner':
['Yes' 'No']

Valores Ãºnicos para a coluna 'customer.Dependents':
['Yes' 'No']

Valores Ãºnicos para a coluna 'phone.PhoneService':
['Yes' 'No']

Valores Ãºnicos para a coluna 'phone.MultipleLines':
['No' 'Yes' 'No phone service']

Valores Ãºnicos para a coluna 'internet.InternetService':
['DSL' 'Fiber optic' 'No']

Valores Ãºnicos para a coluna 'internet.OnlineSecurity':
['No' 'Yes' 'No internet service']

Valores Ãºnicos para a coluna 'internet.OnlineBackup':
['Yes' 'No' 'No internet service']

Valores Ãºnicos para a coluna 'internet.DeviceProtection':
['No' 'Yes' 'No internet service']

Valores Ãºnicos para a coluna 'internet.TechSupport':
['Yes' 'No' 'No internet service']

Valores Ãºnicos para a coluna 'internet.StreamingTV':
['Yes' 'No' 'No internet service']

Valores Ãºnicos para a coluna 'internet.StreamingMovies':
['No' 'Yes' 'No internet service']

Valores Ãºnicos para a coluna 'account.Contract':
['One year' 'Month-to-month' 'Two year']

Valores Ãºnicos para a coluna 'account.PaperlessBilling':
['Yes' 'No']

Valores Ãºnicos para a coluna 'account.PaymentMethod':
['Mailed check' 'Electronic check' 'Credit card (automatic)'
 'Bank transfer (automatic)']

âœ¨**Substituindo os valores em branco por nan**âœ¨

In [326]:
import numpy as np

# Definir o valor que queremos encontrar e substituir
valor_problematico = ''

# Contar quantas strings vazias existem na coluna 'Churn'
contagem_problema_churn = (df['Churn'] == valor_problematico).sum()

if contagem_problema_churn > 0:
    print(f"Encontrados {contagem_problema_churn} registros com string vazia ('{valor_problematico}') na coluna 'Churn'.")

    # Substituir string vazia por NaN
    df['Churn'] = df['Churn'].replace(valor_problematico, np.nan)

    print(f"Strings vazias ('{valor_problematico}') na coluna 'Churn' foram substituÃ­das por NaN.")

    # Verificar os valores Ãºnicos novamente para confirmar a mudanÃ§a
    print("\nValores Ãºnicos para a coluna 'Churn' apÃ³s a correÃ§Ã£o:")
    print(df['Churn'].unique())

    # Verificar a contagem de valores ausentes (NaN) em 'Churn' agora
    print(f"\nTotal de valores ausentes (NaN) em 'Churn' apÃ³s a correÃ§Ã£o: {df['Churn'].isnull().sum()}")
else:
    print(f"Nenhuma string vazia ('{valor_problematico}') encontrada na coluna 'Churn' para corrigir.")

Encontrados 224 registros com string vazia ('') na coluna 'Churn'.
Strings vazias ('') na coluna 'Churn' foram substituÃ­das por NaN.

Valores Ãºnicos para a coluna 'Churn' apÃ³s a correÃ§Ã£o:
['No' 'Yes' nan]

Total de valores ausentes (NaN) em 'Churn' apÃ³s a correÃ§Ã£o: 224

## 2.3 Tratando as inconsistÃªncias

In [327]:
print(f"Tamanho do DataFrame antes de remover NaNs da coluna 'Churn': {df.shape}")

# Remover linhas onde a coluna 'Churn' Ã© NaN
df.dropna(subset=['Churn'], inplace=True)

print(f"Tamanho do DataFrame depois de remover NaNs da coluna 'Churn': {df.shape}")

# Verificar novamente os valores ausentes e Ãºnicos em 'Churn'
print(f"\nTotal de valores ausentes (NaN) em 'Churn' apÃ³s remover as linhas: {df['Churn'].isnull().sum()}")
print(f"Valores Ãºnicos para a coluna 'Churn' apÃ³s remover as linhas: {df['Churn'].unique()}")

Tamanho do DataFrame antes de remover NaNs da coluna 'Churn': (7267, 21)
Tamanho do DataFrame depois de remover NaNs da coluna 'Churn': (7043, 21)

Total de valores ausentes (NaN) em 'Churn' apÃ³s remover as linhas: 0
Valores Ãºnicos para a coluna 'Churn' apÃ³s remover as linhas: ['No' 'Yes']

In [328]:
# CÃ©lula de InvestigaÃ§Ã£o dos NaNs em account.Charges.Total
if df is not None and 'account.Charges.Total' in df.columns:
    clientes_total_nan = df[df['account.Charges.Total'].isnull()]
    if not clientes_total_nan.empty:
        print("Clientes com account.Charges.Total ausente:")
        print(clientes_total_nan[['customer.tenure', 'account.Charges.Monthly', 'account.Charges.Total']])
        print(f"\nValores Ãºnicos de 'customer.tenure' para clientes com TotalCharges NaN: {clientes_total_nan['customer.tenure'].unique()}")
    else:
        print("Nenhum NaN encontrado em account.Charges.Total nesta etapa")

Clientes com account.Charges.Total ausente:
      customer.tenure  account.Charges.Monthly  account.Charges.Total
975                 0                    56.05                    NaN
1775                0                    20.00                    NaN
1955                0                    61.90                    NaN
2075                0                    19.70                    NaN
2232                0                    20.25                    NaN
2308                0                    25.35                    NaN
2930                0                    73.35                    NaN
3134                0                    25.75                    NaN
3203                0                    52.55                    NaN
4169                0                    80.85                    NaN
5599                0                    19.85                    NaN

Valores Ãºnicos de 'customer.tenure' para clientes com TotalCharges NaN: [0]

âœ¨**Tratando os valores NaN presentes na coluna account.Charges.Total**âœ¨

In [329]:
nan_antes_tratamento_final = df['account.Charges.Total'].isnull().sum()

if nan_antes_tratamento_final > 0:
    print(f"Tratando {nan_antes_tratamento_final} NaNs restantes em 'account.Charges.Total'")
    df['account.Charges.Total'] = df['account.Charges.Total'].fillna(0.0)
    print("NaNs em 'account.Charges.Total' foram preenchidos com 0.0.")
    print(f"Valores ausentes em 'account.Charges.Total' ApÃ³s o preenchimento: {df['account.Charges.Total'].isnull().sum()}")

else:
    print("Nenhum NaN encontrado em 'account.Charges.Total' para tratar (talvez jÃ¡ foram tratados).")

Tratando 11 NaNs restantes em 'account.Charges.Total'
NaNs em 'account.Charges.Total' foram preenchidos com 0.0.
Valores ausentes em 'account.Charges.Total' ApÃ³s o preenchimento: 0

âœ¨**ApÃ³s o tratamento de dados**âœ¨

In [330]:
print("\nVerificaÃ§Ã£o final de valores ausentes em todo o DataFrame:")
print(df.isnull().sum().sum())

VerificaÃ§Ã£o final de valores ausentes em todo o DataFrame:
0

## 2.4 Coluna de Contas DiÃ¡rias

In [331]:
# Definir o nÃºmero de dias no mÃªs para o cÃ¡lculo
dias_no_mes = 30.4375

# Criar a nova coluna 'Contas_Diarias'
if 'account.Charges.Monthly' in df.columns:
    df['Contas_Diarias'] = df['account.Charges.Monthly'] / dias_no_mes
    print("Coluna 'Contas_Diarias' criada com sucesso!")

    # Verificar as primeiras linhas com a nova coluna e o tipo de dado
    print("\nPrimeiras linhas do DataFrame com a nova coluna 'Contas_Diarias':")
    print(df[['customerID', 'account.Charges.Monthly', 'Contas_Diarias']].head())
    print(f"\nTipo de dado da coluna 'Contas_Diarias': {df['Contas_Diarias'].dtype}")

    # Algumas estatÃ­sticas descritivas da nova coluna
    print("\nEstatÃ­sticas descritivas para 'Contas_Diarias':")
    print(df['Contas_Diarias'].describe())

else:
    print("ERRO: Coluna 'account.Charges.Monthly' nÃ£o encontrada no DataFrame.")

Coluna 'Contas_Diarias' criada com sucesso!

Primeiras linhas do DataFrame com a nova coluna 'Contas_Diarias':
   customerID  account.Charges.Monthly  Contas_Diarias
0  0002-ORFBO                     65.6        2.155236
1  0003-MKNFE                     59.9        1.967967
2  0004-TLHLJ                     73.9        2.427926
3  0011-IGKFF                     98.0        3.219713
4  0013-EXCHZ                     83.9        2.756468

Tipo de dado da coluna 'Contas_Diarias': float64

EstatÃ­sticas descritivas para 'Contas_Diarias':
count    7043.000000
mean        2.127694
std         0.988585
min         0.599589
25%         1.166324
50%         2.311294
75%         2.951951
max         3.901437
Name: Contas_Diarias, dtype: float64

## 2.5 PadronizaÃ§Ã£o e TransformaÃ§Ã£o de Dados (opcional)

### Convertendo valores textuais como "Sim" e "NÃ£o" para valores binÃ¡rios (1 e 2)

In [332]:
colunas_para_mapear = ['Churn', 'customer.Partner', 'customer.Dependents',
                             'phone.PhoneService', 'account.PaperlessBilling']

print("\n--- Convertendo colunas Yes/No para 1/0 ---")
for coluna in colunas_para_mapear:
    if coluna in df.columns:
        print(f"Processando coluna: {coluna}")
        df[coluna] = df[coluna].map({'Yes': 1, 'No': 0})

        # Verificar os novos valores Ãºnicos e o tipo
        print(f"Valores Ãºnicos em '{coluna}' apÃ³s map: {df[coluna].unique()}")
        print(f"Tipo de '{coluna}' apÃ³s map: {df[coluna].dtype}\n")

    else:
        print(f"AVISO: Coluna '{coluna}' nÃ£o encontrada para mapeamento Yes/No.")

--- Convertendo colunas Yes/No para 1/0 ---
Processando coluna: Churn
Valores Ãºnicos em 'Churn' apÃ³s map: [0 1]
Tipo de 'Churn' apÃ³s map: int64

Processando coluna: customer.Partner
Valores Ãºnicos em 'customer.Partner' apÃ³s map: [1 0]
Tipo de 'customer.Partner' apÃ³s map: int64

Processando coluna: customer.Dependents
Valores Ãºnicos em 'customer.Dependents' apÃ³s map: [1 0]
Tipo de 'customer.Dependents' apÃ³s map: int64

Processando coluna: phone.PhoneService
Valores Ãºnicos em 'phone.PhoneService' apÃ³s map: [1 0]
Tipo de 'phone.PhoneService' apÃ³s map: int64

Processando coluna: account.PaperlessBilling
Valores Ãºnicos em 'account.PaperlessBilling' apÃ³s map: [1 0]
Tipo de 'account.PaperlessBilling' apÃ³s map: int64

### Renomeando colunas

In [333]:
print("Nomes das colunas antes da substituiÃ§Ã£o:")
print(df.columns.tolist())

# Substituir o '.' por '_' em todos os nomes de colunas
df.columns = df.columns.str.replace('.', '_', regex=False)

print("\nNomes das colunas depois da substituiÃ§Ã£o:")
print(df.columns.tolist())

Nomes das colunas antes da substituiÃ§Ã£o:
['customerID', 'Churn', 'customer.gender', 'customer.SeniorCitizen', 'customer.Partner', 'customer.Dependents', 'customer.tenure', 'phone.PhoneService', 'phone.MultipleLines', 'internet.InternetService', 'internet.OnlineSecurity', 'internet.OnlineBackup', 'internet.DeviceProtection', 'internet.TechSupport', 'internet.StreamingTV', 'internet.StreamingMovies', 'account.Contract', 'account.PaperlessBilling', 'account.PaymentMethod', 'account.Charges.Monthly', 'account.Charges.Total', 'Contas_Diarias']

Nomes das colunas depois da substituiÃ§Ã£o:
['customerID', 'Churn', 'customer_gender', 'customer_SeniorCitizen', 'customer_Partner', 'customer_Dependents', 'customer_tenure', 'phone_PhoneService', 'phone_MultipleLines', 'internet_InternetService', 'internet_OnlineSecurity', 'internet_OnlineBackup', 'internet_DeviceProtection', 'internet_TechSupport', 'internet_StreamingTV', 'internet_StreamingMovies', 'account_Contract', 'account_PaperlessBilling', 'account_PaymentMethod', 'account_Charges_Monthly', 'account_Charges_Total', 'Contas_Diarias']